body {
	margin: 0px;
	background-color: cornsilk;
}


header{
	outline:solid 4px solid;
	border-radius: 8px;
}

header nav ul{
	margin:0 auto;
	background-color: powderblue;
	
	height: 40px;
	width: 80%;
	font-family: sans-serif;
	border-radius: 8px;
}
header nav li {
	display: inline-block;
	margin: 0px;
	float: left;
	height: 30px;
	width: 150px;
	border-radius: 8px;
}

header h1 {
	position: relative;
	top:10px;
	left:100px; 
	font-size: 20px;
	font-family: sans-serif;
	/*margin-bottom: 5px;*/

}

header ul li {
	outline:grey 1px solid;
	margin-right: 10px;
	margin-top: 5px;
	border-radius: 4px;
	text-align: center;
	padding:2px 0 0;
}


header {
	/*margin-left: 100px;*/
	/*margin-top: 40px;*/
}

section {
	font-family: sans-serif;
	margin-top: 150px;
	margin-left: 200px;
	margin-right: 200px;
}


section h2 {
	font-size: 60px;
	font-family: sans-serif;
	margin:0 auto;
	text-align: center;
}
section.marketing {
	margin-top: 90px;
	margin-bottom: 30px;
	
}
section.marketing button {	
	background-color: mediumseagreen;
	height: 50px;
	border-radius: 5px;
	width: 200px;
	display: table;
	margin: 0 auto;
	color: white;
	font-family: sans-serif;
	font-size: 18px;

}

footer{
	width:960px;
	margin: 0 auto;
	outline:1px solid red;
}
footer article{
	font-family: sans-serif;
	display: inline-block;
	margin: 15px;
	padding: 20px;
	float: left;
	/*height: 30px;*/
	width: 200px;
	margin-top: 30px;
}

footer button {
	background-color: steelblue;
	color: white;
	border-radius: 5px;
	font-family: sans-serif;
	font-size: 12px;
	margin-top: 30px;
}

footer h1 {
font-size: 18px;
}